.common-font{
  font-size: 0.12rem;
}
.common-index-title-font{
  font-size: 0.16rem;
  font-weight: bold;
  color: red;
}
.flex-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

